# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Make release

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java for publishing to Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Maven change version
        run: mvn versions:set -DnewVersion=${{ github.event.release.tag_name }} --batch-mode
      - name: Make a release
        run: mvn -Pdeploy -Pproduction --no-transfer-progress --batch-mode clean deploy
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}

  build-native-jar:
    needs: publish
    # Call the reusable workflow in the same repository after publish completes.
    uses: ./.github/workflows/maven_jni_25.yml
    with:
      # pass release tag as project-version input (adjust input name if the reusable workflow expects a different key)
      project-version: ${{ github.event.release.tag_name }}
    secrets:
      MAVEN_USERNAME: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}
      GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}
      GPG_PRIVATE_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
